<div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
    
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewModalLabel">Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            <div class="modal-body">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Rate this movie
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">1</li>
                        <li class="dropdown-item">2</li>
                        <li class="dropdown-item">3</li>
                        <li class="dropdown-item">4</li>
                        <li class="dropdown-item">5</li>
                        <li class="dropdown-item">6</li>
                        <li class="dropdown-item">7</li>
                        <li class="dropdown-item">8</li>
                        <li class="dropdown-item">9</li>
                        <li class="dropdown-item">10</li>
                    </ul>
                </div>
                <form>
                    <div class="mb-3">
                        <label for="review-text" class="col-form-label">Review:</label>
                        <textarea class="form-control" id="review-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @* <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Submit</button> *@
                <input type="submit" value="Submit" class="btn btn-secondary" data-bs-dismiss="modal"/>
            </div>
        </div>
    </div>
</div>