<div class="dropdown">
    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        GENRES
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-controller="Movies" asp-action="GenreMovies">Genre 1</a></li>
        <li><a class="dropdown-item" asp-controller="Movies" asp-action="GenreMovies">Genre 2</a></li>
        <li><a class="dropdown-item" asp-controller="Movies" asp-action="GenreMovies">Genre 3</a></li>
    </ul>
</div>