html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#movie-section{
    height:350px;
}#movie-section{
     height:350px;
     background:darkblue;
 }
#tmdbUrl{
    text-decoration: none;
    color: black;
}
#cast-name
{
    margin-top: 50px;
}
#buy-button
{
    background: white;
    color: black;
    width:85%; 
    margin: 0px 0px 20px 0px;
}
#movie-detail-poster{
    height:350px;
}