html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#movie-section{
    height:320px;
    background:darkblue;
}
#tmdbUrl{
    text-decoration: none;
    color: black;
}
#cast-name
{
    margin-top: 50px;
}